{% extends "base.html" %}

{% block title %} Night Watch homepage {% end %}
{% block header %} 
	<header id="header" class="page-header jumbotron">
		<div class="row">
			<div class="col-md-8">
				<h1>Night Watch</h1>
				<p> {{ len(Tasks) }} tasks are setup in Night Watch. </p>
			</div>
			
			<div class="col-md-4">
				<h4>Monitoring</h4>
				<div id="btn-monitoring" class="btn-group btn-toggle"> 
					<button id="btn-monitoring-on" class="btn btn-on {% if TasksManager.isRunning() %}btn-success active{% else %}btn-default{% end %}" {% if TasksManager.isRunning() %}disabled{% end %}>On</button>
					<button id="btn-monitoring-off" class="btn btn-off {% if not TasksManager.isRunning() %}btn-danger active{% else %}btn-default{% end %}" {% if not TasksManager.isRunning() %}disabled{% end %}>Off</button>
				</div>
			
				<h4>Reload</h4>
				<button id="reload-config-button" type="button" class="btn btn-warning" data-toggle="modal" data-target="#reloadConfigPopup" {% if (not TasksManager.isRunning()) or TasksManager.isReloading() %}disabled{% end %}>{% if TasksManager.isReloading() %}<span class="glyphicon glyphicon-refresh spinning"></span> Reloading Night-Watch...{% else %}Reload config files{% end %}</button>
			</div>
		</div>
	</header>
{% end %}

{% block content %}

<!--<div class="row placeholders">
  <div class="col-xs-6 col-sm-3 placeholder">
    <canvas id="night-watch-status" class="donchart"></canvas>
  </div>
</div>-->

{% if len(Tasks) > 0 %}
	<div class="row">
		<div class="panel panel-default">
		<div class="panel-heading">Overview</div>
		<div class="panel-body">
		<div class="col-xs-6 col-sm-3 third widget doughnut thumbnail">
		    <h3>Tasks status</h3>
		    <div class="canvas-container">
		        <canvas id="night-watch-tasks-status"></canvas>
		        <span class="status"></span>
		    </div>
		    <div class="chart-legend">
		        <ul>
		            <li class="success">Success</li>
		            <li class="failed">Failed</li>
		        </ul>
		    </div>
		</div>
		<div class="col-xs-6 col-sm-3 third widget doughnut thumbnail">
		    <h3>Tasks enabled</h3>
		    <div class="canvas-container ">
		        <canvas id="night-watch-tasks-enabled"></canvas>
		        <span class="status"></span>
		    </div>
		    <div class="chart-legend">
		        <ul>
		            <li class="enabled">Enabled</li>
		            <li class="disabled">Disabled</li>
		        </ul>
		    </div>
		</div>
	
		<div class="col-xs-6 col-sm-3 third widget thumbnail">
		<ul class="list-group">
			{% for task_name in sorted(Tasks.iterkeys()) %}
			<li class="list-group-item">
			{{ task_name }}
			</li>
			{% end %}
		</ul>
		</div>
	</div>
{% end %}

{% end %}

{% block javascript %}
	<script src={{ static_url("night-watch/js/index-actions-listener.js") }} type="text/javascript"></script>
	
	<script src={{ static_url("assets/chart/js/Chart.min.js") }} type="text/javascript"></script>
	<script type="text/javascript">
	// Display graphs
	var nbTasks = {{ len(Tasks) }};
	var nbTasksSuccess = {{ len(TasksManager.getSuccessfulTasks()) }};
	var nbTasksEnabled = {{ len(TasksManager.getEnabledTasks()) }};
	
	var myDoughnutChart = new Chart($("#night-watch-tasks-status").get(0).getContext("2d")).Doughnut(
				data = [
				    { value: nbTasksSuccess, color: "#46BFBD", highlight: "#5AD3D1", label: "Successful tasks" },
				    { value: nbTasks - nbTasksSuccess, color:"#F7464A", highlight: "#FF5A5E", label: "Failed tasks)"}
				]
			);
	
	var myDoughnutChart = new Chart($("#night-watch-tasks-enabled").get(0).getContext("2d")).Doughnut(
				data = [
				    { value: nbTasksEnabled, color: "#46BFBD", highlight: "#5AD3D1", label: "Successful tasks" },
				    { value: nbTasks - nbTasksEnabled, color:"#F7464A", highlight: "#FF5A5E", label: "Failed tasks)"}
				]
			);
	</script>
{% end %}