body {
	padding-top: 70px;
	padding-bottom: 30px;
}


.btn-toggle > .btn.active {
	font-weight: bold;
}
.glyphicon.spinning {
	margin: 0px 10px 0px 10px;
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}